@font-face {
  font-family: "iconfont"; /* Project id 2718799 */
  src: url('iconfont.woff2?t=1627986562949') format('woff2'),
       url('iconfont.woff?t=1627986562949') format('woff'),
       url('iconfont.ttf?t=1627986562949') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xiasanjiaoxing:before {
  content: "\e642";
}

.icon-shangsanjiaoxing:before {
  content: "\e643";
}

.icon-shanchu:before {
  content: "\e615";
}

.icon-qudan:before {
  content: "\e6c9";
}

.icon-gouwuche:before {
  content: "\e60d";
}

.icon-clerk:before {
  content: "\e6ad";
}

.icon-linedesign-12:before {
  content: "\e671";
}

.icon-xinbaniconshangchuan-:before {
  content: "\e62d";
}

.icon-a-ziyuan42:before {
  content: "\e700";
}

.icon-guanliyuan:before {
  content: "\e65d";
}

.icon-houtai2:before {
  content: "\e623";
}

.icon-dingdan:before {
  content: "\e637";
}

.icon-jiaoyijilu:before {
  content: "\e638";
}

.icon-kucun:before {
  content: "\e620";
}

.icon-shouyintai:before {
  content: "\e632";
}

.icon-iconku-:before {
  content: "\e612";
}

.icon-kefu:before {
  content: "\e65b";
}

.icon-shezhi:before {
  content: "\e60b";
}

.icon-download:before {
  content: "\e610";
}

.icon-chufangchujukitchen-chengzhongqi:before {
  content: "\e6d9";
}

.icon-xianghujiaohuan-zuoyou1:before {
  content: "\e782";
}

.icon-yiwen1:before {
  content: "\e739";
}

.icon-upload:before {
  content: "\e60f";
}

.icon-hongbao:before {
  content: "\e616";
}

.icon-print:before {
  content: "\e61b";
}

.icon-xinhao:before {
  content: "\e60a";
}

.icon-keyboard_icon:before {
  content: "\e670";
}

.icon-xianghujiaohuan-zuoyou:before {
  content: "\e773";
}

.icon-unlock:before {
  content: "\e63d";
}

.icon-yiwen:before {
  content: "\e60c";
}

.icon-chengzhong2:before {
  content: "\e6ba";
}

.icon-yunshangchuanxiazai:before {
  content: "\e653";
}

